html,
body,
#root,
.App {
  height: 100vh;
  overflow-x: hidden;
  background-color: palegoldenrod;
  font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
